__pycache__/
*.pyc
.ipynb_checkpoints/
.DS_Store
wandb/
checkpoints/*.pt
checkpoints/*.onnx
__pycache__/
*.pyc
wandb/
data/
*.tar.gz
__pycache__/
*.pyc
wandb/
data/
*.tar.gz
__pycache__/
*.pyc
wandb/
data/
*.tar.gz
